@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BeVietnamPro";
  src: url('../fonts/BeVietnamPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url('../fonts/BeVietnamPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "BeVietnamPro";
  src: url('../fonts/BeVietnamPro-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

html {
    scroll-behavior: smooth;
    font-family: 'BeVietnamPro', sans-serif;
}

.custom-img {
    background-image: url("../assets/hero.jpg");
}
.darkened-image {
  filter: brightness(80%);

  height: 94px;
  width: 120px;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
  }
  table td,
  table th {
    border-top: 1px solid #ecf0f1;
    padding: 10px;
  }
  table td {
    border-left: 1px solid #ecf0f1;
    border-right: 1px solid #ecf0f1;
  }
  table th {
    background-color: #bbf7d0;
  }
  table tr:nth-of-type(even) td {
    background-color: #e3ffdf;
  }
  table .total th {
    background-color: white;
  }
  table .total td {
    text-align: right;
    font-weight: 700;
  }
  
  .mobile-header {
    display: none;
  }
/*   
  @media only screen and (max-width: 760px) {
    p {
      display: block;
      font-weight: bold;
    }
  
    table tr td:not(:first-child),
  table tr th:not(:first-child),
  table tr td:not(.total-val) {
      display: none;
    }
    table tr:nth-of-type(even) td:first-child {
      background-color: #d9f4f2;
    }
    table tr:nth-of-type(odd) td:first-child {
      background-color: white;
    }
    table tr:nth-of-type(even) td:not(:first-child) {
      background-color: white;
    }
    table tr th:first-child {
      width: 100%;
      display: block;
    }
    table tr th:not(:first-child) {
      width: 40%;
      transition: transform 0.4s ease-out;
      transform: translateY(-9999px);
      position: relative;
      z-index: -1;
    }
    table tr td:not(:first-child) {
      transition: transform 0.4s ease-out;
      transform: translateY(-9999px);
      width: 60%;
      position: relative;
      z-index: -1;
    }
    table tr td:first-child {
      display: block;
      cursor: pointer;
    }
    table tr.total th {
      width: 25%;
      display: inline-block;
    }
    table tr td.total-val {
      display: inline-block;
      transform: translateY(0);
      width: 75%;
    }
  }
  @media only screen and (max-width: 300px) {
    table tr th:not(:first-child) {
      width: 50%;
      font-size: 14px;
    }
    table tr td:not(:first-child) {
      width: 50%;
      font-size: 14px;
    }
  } */

.accordion-content {
  transition: all .5s ease;
  opacity: 0;
  transition: all .5s;
  display: none;
}


.accordion-content.active {
  height: auto;
  opacity: 1;
  padding: 20px;
  display: block;
  transition: all .5s ease;
}

.accordion {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  overflow-y: auto;
}

.fold {
  /* border-bottom: 1px solid rgba(34, 36, 38, 0.35); */
  margin-top: -1px;
}
.fold .fold_trigger {
  text-align: start;
  width: 100%;
  cursor: pointer;
  /* border-bottom: 1px solid rgba(34, 36, 38, 0.35); */
}

.fold .fold_trigger.open:before {
  transform: rotateZ(-180deg);
}
.fold .fold_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease;
}
.fold .fold_content.open {
  max-height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}